{% extends "base.html.twig" %}

{% block title %}
	Symrecipe - Homepage
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur SymRecipes</h1>
			<p class="lead">SymRecipes est une application où tu pourras trouver toutes les meilleures recettes pour que ta femme te laisse tranquille le jeudi soir et que tu ne sois pas obligé de lâcher 3 recettes parce que ta faignasse de gosse n'a pas d'idée.</p>
			<hr class="my-4">
			<p>Rendez-vous sur la page d'inscription pour commencer à utiliser l'application</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div>
	</div>
{% endblock %}
